@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Roboto font */
  background-color: #1F1F1F; /* Dark background color */
  color: #FFFFFF; /* White text color */
}

body {
  font-family: 'Roboto', sans-serif; /* Roboto font */
  background-color: #1F1F1F; /* Dark background color */
  color: #FFFFFF; /* White text color */
}

h1 {
  text-align: center;
  color: #FF6F61; /* Coral color */
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  margin-top: 20px;
  width: 70%;
  max-width: 400px;
  border: 1px solid #444444; /* Dark grey border */
  background-color: #333333; /* Darker grey background */
  color: #FFFFFF; /* White text color */
}

.rbord {
  background: #3C3C3C; /* Darker grey background */
  margin: 0 200px;
  padding: 20px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border-radius: 15px;
  overflow: hidden;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: space-around;
}

.product-card {
  background-color: #222222; /* Dark grey background */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Darker shadow */
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: #FFFFFF; /* White text color */
  width: 100%;
}

.product-card:hover {
  background: #FF6F61; /* Coral hover background */
  transform: scale(1.05);
}

.product-card:focus {
  outline: 2px solid #FF6F61; /* Coral outline */
}

.product-image-home {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #666666; /* Darker grey border */
}

.product-image-home:active {
  border-bottom: 1px solid #FFFFFF; /* White border */
}

.product-details-home {
  padding: 10px;
}

.product-title-home {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.product-price-home {
  font-weight: bold;
  color: #FFBB86; /* Light coral color */
}

.rbord-pro {
  background: linear-gradient(to right, #FF6F61, #FFB861); /* Gradient background */
  margin: 0 200px;
  border-radius: 50px;
  padding: 20px;
}

.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color:  #333333; /* Darker grey background */
}

.product-image {
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Darker shadow */
  margin-right: 40px;
}

.product-details {
  width: 100%;
  max-width: 600px;
  color: #FFFFFF; /* White text color */
  background-color: #222222; /* Dark grey background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Darker shadow */
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #FF6F61; /* Coral color */
}

.product-price {
  font-weight: bold;
  color: #FFBB86; /* Light coral color */
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 10px;
  color: #FF6F61; /* Coral color */
}

.product-rating {
  color: #FF6F61; /* Coral color */
  margin-bottom: 10px;
}

.product-heading {
  font-weight: bold;
  color: #FF6F61; /* Coral color */
}

.login-container,
.register-container {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #333333; /* Darker grey background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Roboto font */
}

.login-container h1,
.register-container h1 {
  margin-bottom: 30px;
  color: #FF6F61; /* Coral color */
  font-size: 2rem;
}

.login-container form,
.register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input,
.register-container input {
  margin-bottom: 20px;
  padding: 12px;
  width: 100%;
  border: 1px solid #444444; /* Dark grey border */
  border-radius: 4px;
  font-size: 1rem;
  background-color: #222222; /* Dark grey background */
  color: #FFFFFF; /* White text color */
  transition: border-color 0.3s ease;
}

.login-container input:focus,
.register-container input:focus {
  border-color: #FF6F61; /* Coral color */
  outline: none;
}

.login-container button,
.register-container button {
  padding: 12px 24px;
  background-color: #FF6F61; /* Coral color */
  color: #FFFFFF; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-container button:hover,
.register-container button:hover {
  background-color: #FFB861; /* Lighter coral hover color */
}

.login-container a,
.register-container a {
  text-decoration: none;
  color: #FFFFFF; /* White text color */
  font-style: italic;
  margin-top: 10px;
  display: inline-block;
  transition: color 0.3s ease;
}

.login-container a:hover,
.register-container a:hover {
  color: #FF6F61; /* Coral color */
}

.logout-button {
  padding: 12px 24px;
  background-color: #FF6F61; /* Coral color */
  color: #FFFFFF; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Darker shadow */
}

.logout-button:hover {
  background-color: #FFB861; /* Lighter coral hover color */
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  color: #FFFFFF; /* White text color */
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  color: #FF5252; /* Light red color */
  font-weight: bold;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.button-container .register-link {
  padding: 12px 24px;
  background-color: #FF6F61; /* Coral color */
  color: #FFFFFF; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button-container .register-link:hover {
  background-color: #FFB861; /* Lighter coral hover color */
}
